{% extends 'base.html.twig' %}

{% block body %}
<div>
{% if viewList|length > 0 %}
    {% for key,viewList in viewList|slice(0, index) %}
    {{ include('view/widget/message_card.html.twig', { viewList: viewList }) }}
    <a href="{{ path('first_direct', { id: key }) }}">Detay Göster</a>
    {% endfor %}
{% else %}
    <h3>No view to display.</h3>
{% endif %}
</div>
{% endblock %}


{% block title %}My Todo {% endblock %}