{% extends 'base.html.twig' %}

{% block title %}All Post{% endblock %}

{% block body %}
<div>
{% if posts|length > 0 %}
    {% for post in posts %}
    <a href="{{ path('app_micro_post_show', { post: post.id }) }}">
        {{ post.title}}
    </a><br>
    {% endfor %}
{% else %}
    <h3>No view to display.</h3>
{% endif %}
</div>
{% endblock %}